<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<title>Flask Tutorial</title>
	<!-- link to css stylesheet -->
	<link rel="stylesheet" href="static/css/style.css">
</head>
<body>
	<h1>Women's Hockey Standings</h1>
	{% for table in womens_standings %}
		{{titles[loop.index]}}
		{{table|safe }}
	{% endfor %}
	<p>x-clinched playoffs</p>
	<p>y-clinched first round bye</p>
	<h1>Men's Hockey Standings</h1>
	{% for table in mens_standings %}
		{{mens_titles[loop.index]}}
		{{table|safe }}
	{% endfor %}
</body>
</html>